*{
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.scene-1 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../image/fundo-56m2-galeria.png');
    background-size: contain;
    background-repeat: no-repeat    ;
}

.scene-2 {
	width: 78%;
	height: 67%;
	position: absolute;
	z-index: 3;
	top: 27.4%;
	left: 11%;
	opacity: 1;
	/* border: 1px solid red; */
}

.btn-implantacao {
	width: 23%;
	height: 7%;
	position: absolute;
	top: 14%;
	left: 69%;
	background-image: url('../image/btn-implantacao.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.btn-voltar {
	width: 18%;
	height: 5%;
	position: absolute;
	top: 3%;
	left: 91%;
	background-image: url('../image/btn-voltar.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.btn-right {
	width: 8%;
	height: 8%;
	position: absolute;
	top: 58%;
	left: 87%;
	background-image: url('../image/btn-right-purple.png');
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 5000;
}
.btn-left {
	width: 8%;
	height: 8%;
	position: absolute;
	top: 58%;
	left: 9%;
	background-image: url('../image/btn-left-purple.png');
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 5000;
}


.btn-right,
.btn-left,
.scene-2
{
    opacity: 0;
    transition: opacity 1s ease-in-out; 
}


.scene-2{
	animation: fadeIn 0.3s ease-in-out 0.2s forwards;

}



.btn-right{
	animation: fadeIn 0.3s ease-in-out 0.5s forwards;
}

.btn-left {
	animation: fadeIn 0.3s ease-in-out 0.7s forwards;
}




@keyframes fadeIn {
    to {
        opacity: 1;
    }
}